#app {
  width: 70vw;
}

.pipeline-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  table-layout: fixed;

  th,
  td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
  }

  th {
    background-color: #f0f0f0;
    font-weight: bold;
  }

  .cell {
    height: 3em;
    background-color: #fff;

    span {
      margin: 0 2px;
    }
  }
}

.hazard {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}

pre {
  background-color: #f8f8f8;
  padding: 10px;
  border: 1px solid #ccc;
  overflow-y: auto;
}
