:root {
  --app-width: 70vw;
  --bg-color: #f8f8f8;
  --border-color: #ccc;
  --hazard-color: red;
  --cell-height: 3em;
  --cell-padding: 8px;
}

#app {
  width: var(--app-width);
}

.pipeline-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  table-layout: fixed;

  th,
  td {
    border: 1px solid;
    padding: var(--cell-padding);
    text-align: center;
  }

  th {
    background-color: var(--bg-color);
    font-weight: bold;
  }

  .cell {
    height: var(--cell-height);

    span {
      margin: 0 2px;
    }
  }
}

.hazard {
  color: var(--hazard-color);
  font-weight: bold;
}

.hazard-cell {
  background-color: #ffe6e6;
  box-shadow: inset 0 0 0 2px var(--hazard-color);
}

pre {
  background-color: var(--bg-color);
  padding: 10px;
  border: 1px solid var(--border-color);
  overflow-y: auto;
}

.input-group {
  display: flex;
  gap: 1em;
  align-items: flex-end;
  margin-bottom: 10px;

  .input-field {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      margin-bottom: 2px;
    }
  }
}
