:root {
  --app-width: 95vw;
  --bg-color: #f8f8f8;
  --border-color: #ccc;
  --hazard-color: red;
  --cell-height: 3em;
  --cell-padding: 8px;
}

#app {
  width: var(--app-width);
  margin: 0 auto;
}

pre {
  background-color: var(--bg-color);
  padding: 10px;
  border: 1px solid var(--border-color);
  overflow-y: auto;
}

.pipeline-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1em;
  table-layout: fixed;

  th,
  td {
    border: 1px solid;
    padding: var(--cell-padding);
    text-align: center;
  }

  th {
    background-color: var(--bg-color);
  }

  .cell {
    height: var(--cell-height);

    span {
      margin: 0 2px;
    }
  }
}

.hazard {
  color: var(--hazard-color);
  font-weight: bold;
}

.hazard-cell {
  background-color: #ffe6e6;
  box-shadow: inset 0 0 0 2px var(--hazard-color);
}

.input-group {
  display: flex;
  gap: 1em;
  align-items: flex-end;
  margin-bottom: 10px;

  .input-field {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      margin-bottom: 2px;
    }
  }
}

.pipeline-controls {
  background-color: var(--bg-color);
  padding: 1em;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}

.step-controls {
  display: flex;
  align-items: center;
  gap: 15px;
}

.step-display {
  font-size: 1.2em;
  min-width: 100px;
  text-align: center;
  background: white;
  padding: 5px 10px;
  border: 1px solid #ddd;
}
