#app {
  width: 70vw;
}

.pipeline-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.pipeline-grid .header {
  background-color: #f0f0f0;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  border: 1px solid #000;
}

.pipeline-grid .cell {
  border: 1px solid #000;
  height: 3em;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

pre {
  background-color: #f8f8f8;
  padding: 10px;
  border: 1px solid #ccc;
  overflow-y: auto;
}
